/*FONTS*/
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./Resources/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

:root {
    /*COLORS*/
        /*PRIMARY*/
    --light-red: hsl(0, 100%, 67%);
    --yellow-orange: hsl(39, 100%, 56%);
    --teal-green: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-red-t: hsla(0, 100%, 67%, 0.1);
    --yellow-orange-t: hsla(39, 100%, 56%, 0.1);
    --teal-green-t: hsla(166, 100%, 37%, 0.1);
    --cobalt-blue-t: hsla(234, 85%, 45%, 0.1);
        /*GRADIENTS*/
    --slate-blue: hsl(252, 100%, 67%);
    --royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
        /*NEUTRALS*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --gray-blue: hsl(224, 30%, 27%);

    /*SPACING*/
    --space-sm: 12px;
    --space-md: 18px;
    --space-lg: 32px;
    --space-xlg: 56px;

    /*FONT WEIGHT*/
    --f-s: 500;
    --f-m: 700;
    --f-l: 800;
}
 
/*BODY/LAYOUT*/
body {
    background-color: var(--pale-blue);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: var(--f-s);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

/*RESETS*/
h2, h3, p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;

}

.card {
    background-color: var(--white);
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

/*RESULTS SECTION*/

.results {
    background: linear-gradient(to bottom, var(--slate-blue), var(--royal-blue));
    padding: 32px 52px;
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 0;
}

.results h2 {
    color: var(--light-lavender);
    font-size: 18px;
    font-weight: var(--f-s);
    margin-bottom: 15px;
}

.circle {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    background: linear-gradient(to bottom, var(--violet-blue), var(--persian-blue));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    line-height: 1;
}

.score {
    font-size: 52px;
    color: var(--white);
    font-weight: var(--f-m); 
}

.total {
    font-size: 14px;
    font-weight: var(--f-s);
    color: var(--light-lavender);
    opacity: 0.5;
}

.rank {
    color: var(--white);
    font-size: 24px;
    font-weight: var(--f-s);
    margin-top: 10px;
}

.eval {
    color: var(--light-lavender);
    font-size: 14px;
    font-weight: var(--f-s);
    padding: 10px 10px 15px;
}

/*SUMMARY SECTION*/ 

.summary {
    padding: var(--space-md);
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

.summary h2 {
    font-size: 18px;
    color: var(--gray-blue);
    font-weight: var(--f-s);
}

li {
    padding: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
    width: 85%;
    font-family: inherit;
    font-size: 16px;
    font-weight: var(--f-m);
}

.score-row {
}

.num {
    color: var(--gray-blue);
}

.outof {
    color: var(--gray-blue);
    opacity: 50%;
}

.react {
    background-color: var(--light-red-t);
    color: var(--light-red);
    border-radius: 12px;
}

.memory {
    background-color: var(--yellow-orange-t);
    color: var(--yellow-orange);
    border-radius: 12px;
}

.verbal {
    background-color: var(--teal-green-t);
    color: var(--teal-green);
    border-radius: 12px;
}

.visual {
    background-color: var(--cobalt-blue-t);
    color: var(--cobalt-blue);
    border-radius: 12px;
}

button {
    border-radius: 24px;
    border: none;
    background-color: var(--gray-blue);
    color: var(--white);
    font-weight: 500;
    width: 90%;
    height: 50px;
    font-family: inherit;
    font-size: 16px;
    text-align: center;
    align-self: center;
    cursor: pointer;
}

/*PLACEHOLDER
/*DESKTOP SIZING*/
/*PLACEHOLDER
@media (min-width: 765px) {
    .card {
        min-height: auto;
        border-radius: 24px;
        box-shadow: 0 30px 50px var(--light-lavender);
        max-width: 600px;
    }
}*/