/*FONTS*/
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./Resources/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

:root {
    /*COLORS*/
        /*PRIMARY*/
    --lightRed: hsl(0, 100%, 67%);
    --yellowOrange: hsl(39, 100%, 56%);
    --tealGreen: hsl(166, 100%, 37%);
    --cobaltBlue: hsl(234, 85%, 45%);
        /*GRADIENTS*/
    --slateBlue: hsl(252, 100%, 67%);
    --royalBlue: hsl(241, 81%, 54%);
    --violetBlue: hsla(256, 72%, 46%, 1);
    --persianBlue: hsla(241, 72%, 46%, 0);
        /*NEUTRALS*/
    --white: hsl(0, 0%, 100%);
    --paleBlue: hsl(221, 100%, 96%);
    --lightLavender: hsl(241, 100%, 89%);
    --grayBlue: hsl(224, 30%, 27%);

    /*SPACING*/
}
 
/*BODY/LAYOUT*/
body {
    background-color: var(--lightLavender);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: 18px;
    font-weight: 500;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*RESETS*/
h1, p {
    margin: 0;
}

/*RESULTS SECTION*/

h1 {
    color: var(--lightLavender);
    font-size: 18px;
    font-weight: 500;
}

.circle {
    
}

/*SUMMARY SECTION*/

/*MOBILE SIZING*/
@media (max-width: 385px) {
    .card {
        max-width: ;
    }
    .abstract {
        height: ;
    }
}