/*FONTS*/
@font-face {
  font-family: 'Hanken Grotesk';
  src: url('./Resources/fonts/HankenGrotesk-VariableFont_wght.ttf') format('truetype');
  font-weight: 300 900;
  font-style: normal;
  font-display: swap;
}

/*VARIABLES*/
:root {
    /*COLORS*/
        /*PRIMARY*/
    --light-red: hsl(0, 100%, 67%);
    --yellow-orange: hsl(39, 100%, 56%);
    --teal-green: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);
    --light-red-t: hsla(0, 100%, 67%, 0.1);
    --yellow-orange-t: hsla(39, 100%, 56%, 0.1);
    --teal-green-t: hsla(166, 100%, 37%, 0.1);
    --cobalt-blue-t: hsla(234, 85%, 45%, 0.1);
        /*GRADIENTS*/
    --slate-blue: hsl(252, 100%, 67%);
    --royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsla(256, 72%, 46%, 1);
    --persian-blue: hsla(241, 72%, 46%, 0);
        /*NEUTRALS*/
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --gray-blue: hsl(224, 30%, 27%);

    /*SPACING*/
    --sp-xxs: 5px;
    --sp-xs: 10px;
    --sp-s: 15px;
    --sp-m: 20px;
    --sp-l: 30px;
    --sp-xl: 50px;

    /*FONT SIZE*/
    --fs-xs: 14px;
    --fs-s: 16px;
    --fs-m: 18px;
    --fs-l: 24px;
    --fs-xl: 52px;

    /*FONT WEIGHT*/
    --f-s: 500;
    --f-m: 700;
    --f-l: 800;
}
 
/*RESETS*/
h2, h3, p {
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: var(--sp-m) 0 var(--sp-l);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--sp-s);
}

/*CONTAINER LAYOUT*/
body {
    background-color: var(--pale-blue);
    font-family: 'Hanken Grotesk', sans-serif;
    font-size: var(--fs-m);
    font-weight: var(--f-s);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.card {
    background-color: var(--white);
    overflow: hidden;
    width: 100%;
    min-height: 100vh;
}

/*RESULTS SECTION*/

.results {
    background: linear-gradient(to bottom, var(--slate-blue), var(--royal-blue));
    padding: var(--sp-l) var(--sp-xl);
    border-bottom-left-radius: 24px;
    border-bottom-right-radius: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: var(--sp-xs);
    margin: 0;
}

.results h2 {
    color: var(--light-lavender);
    font-size: var(--fs-m);
    font-weight: var(--f-s);
    margin-bottom: var(--sp-s);
}

.circle {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    display: flex;
    background: radial-gradient(circle at top, var(--violet-blue), var(--persian-blue));
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--sp-xs);
    line-height: 1;
}

.score {
    font-size: var(--fs-xl);
    color: var(--white);
    font-weight: var(--f-m); 
}

.total {
    font-size: var(--fs-xs);
    font-weight: var(--f-s);
    color: var(--light-lavender);
    opacity: 0.5;
}

.rank {
    color: var(--white);
    font-size: var(--fs-l);
    font-weight: var(--f-s);
    margin-top: var(--sp-s);
}

.eval {
    color: var(--light-lavender);
    font-size: var(--fs-xs);
    font-weight: var(--f-s);
    padding: var(--sp-s);
}

/*SUMMARY SECTION*/ 

.summary {
    padding: var(--sp-l);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.summary h2 {
    font-size: var(--fs-m);
    color: var(--gray-blue);
    font-weight: var(--f-m);
}

.summary li {
    padding: var(--sp-s);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: inherit;
    font-size: var(--fs-s);
    font-weight: var(--f-s);
}

.type {
    display: flex;
    align-items: center;
    gap: var(--sp-xs);
}

.num {
    color: var(--gray-blue);
}

.outof {
    color: var(--gray-blue);
    opacity: 0.5;
}

.react {
    background-color: var(--light-red-t);
    color: var(--light-red);
    border-radius: 12px;
}

.memory {
    background-color: var(--yellow-orange-t);
    color: var(--yellow-orange);
    border-radius: 12px;
}

.verbal {
    background-color: var(--teal-green-t);
    color: var(--teal-green);
    border-radius: 12px;
}

.visual {
    background-color: var(--cobalt-blue-t);
    color: var(--cobalt-blue);
    border-radius: 12px;
}

button {
    border-radius: 24px;
    border: none;
    background-color: var(--gray-blue);
    color: var(--white);
    font-weight: 500;
    width: 100%;
    height: 50px;
    font-family: inherit;
    font-size: var(--fs-s);
    text-align: center;
    cursor: pointer;
}

button:hover, button:focus {
    background: linear-gradient(to bottom, var(--slate-blue), var(--royal-blue));

}

/*PLACEHOLDER
/*MEDIA QUERIES*/
/*PLACEHOLDER
@media (min-width: 765px) {
    .card {
        min-height: auto;
        border-radius: 24px;
        box-shadow: 0 var(--sp-l) var(--sp-xl) var(--light-lavender);
        max-width: 600px;
    }
}*/