@import "tailwindcss";

@theme {
    /*COLOURS*/
        /*PRIMARY*/
    --color-purple-brand: hsl(246, 80%, 60%);
    --color-work: hsl(15, 100%, 70%);
    --color-play: hsl(195, 74%, 62%);
    --color-study: hsl(348, 100%, 68%);
    --color-exercise: hsl(145, 58%, 55%);
    --color-social: hsl(264, 64%, 52%);
    --color-self-care: hsl(43, 84%, 65%);
        /*NEUTRALS*/
    --color-navy-950: hsl(226, 43%, 10%);
    --color-navy-900: hsl(235, 46%, 20%);
    --color-purple-500: hsl(235, 45%, 61%);
    --color-navy-200: hsl(236, 100%, 87%);
    
    /*FONT*/
    --font-rubik: "Rubik", sans-serif;
    /*FONT SIZE*/
    --text-titles: 18px;
    /*FONT WEIGHTS*/
    --font-weight-thin: 300;
    --font-weight-reg: 400;
    --font-weight-bold: 500;

    /*BORDER RADII*/
    --radius-md: 16px;
    
}
